.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
dist/
examples/
.sass-cache
CONTRIBUTING.md
css/
js/
public/
package-lock.json
package.json
plugin/
reveal.js-master/
scripts/
react/
test/
index.html
.github/
tsconfig.json
tsconfig.node.json
vite.config.ts
vite.config.styles.ts
/.playwright-mcp/
.codespellrc
.prettier*
build/
